
<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-bullseye"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon-custom"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listing/new">Add Listing</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search" action="/listing/search/data" method="get">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn" id="btn-search" type="submit">Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currUser) {%>
            <a class="nav-link" aria-current="page" href="/auth/signup">SingUp</a>
          <a class="nav-link" href="/auth/login">LogIn</a>
          <% } if(currUser){ %>
            <a class="nav-link" href="/auth/logout">LogOut</a>
            <% } %>
        </div>
      </div>
    </div>
  </nav>