<% layout('/layouts/boilerplate') -%>

<div class="alert alert-danger col-md-6 offset-3 mt-5 d-flex justify-content-center" role="alert">
   <div class="d-flex gap-4 ">
    <h4> <i class="fa-solid fa-triangle-exclamation fa-alert"></i></h4> 
    <p class="alert-para"><%= message %></p>
   </div>
</div>
  